USE [master]
GO
/****** Object:  Database [spss]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE DATABASE [spss]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'spss_Data', FILENAME = N'/var/opt/mssql/data/spss.mdf' , SIZE = 13312KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'spss_Log', FILENAME = N'/var/opt/mssql/data/spss.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [spss].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [spss]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CountryId] [int] NOT NULL,
	[StreetNumber] [nvarchar](50) NOT NULL,
	[AddressLine1] [nvarchar](200) NOT NULL,
	[AddressLine2] [nvarchar](200) NULL,
	[City] [nvarchar](100) NOT NULL,
	[Ward] [nvarchar](100) NOT NULL,
	[Postcode] [nvarchar](20) NOT NULL,
	[Province] [nvarchar](100) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[LastUpdatedBy] [nvarchar](100) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CustomerName] [nvarchar](200) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Thumbnail] [nvarchar](500) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[LastUpdatedBy] [nvarchar](100) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogSections]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogSections](
	[Id] [uniqueidentifier] NOT NULL,
	[BlogId] [uniqueidentifier] NOT NULL,
	[ContentType] [nvarchar](50) NOT NULL,
	[Subtitle] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_BlogSections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CancelReasons]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CancelReasons](
	[Id] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[RefundRate] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_CancelReasons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ProductItemId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatHistories]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatHistories](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[MessageContent] [nvarchar](max) NOT NULL,
	[SenderType] [nvarchar](10) NOT NULL,
	[Timestamp] [datetimeoffset](7) NOT NULL,
	[SessionId] [nvarchar](100) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[LastUpdatedBy] [nvarchar](100) NOT NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_ChatHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [nvarchar](10) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ProductItemId] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[OrderTotal] [decimal](18, 2) NOT NULL,
	[CancelReasonId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PaymentMethodId] [uniqueidentifier] NOT NULL,
	[AddressId] [uniqueidentifier] NOT NULL,
	[VoucherId] [uniqueidentifier] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[Id] [uniqueidentifier] NOT NULL,
	[PaymentType] [nvarchar](100) NOT NULL,
	[ImageUrl] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [uniqueidentifier] NOT NULL,
	[ParentCategoryId] [uniqueidentifier] NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductConfigurations]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductConfigurations](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductItemId] [uniqueidentifier] NOT NULL,
	[VariationOptionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ProductConfigurations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductForSkinTypes]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductForSkinTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[SkinTypeId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ProductForSkinTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [uniqueidentifier] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[IsThumbnail] [bit] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductItems]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductItems](
	[Id] [uniqueidentifier] NOT NULL,
	[QuantityInStock] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[MarketPrice] [decimal](18, 2) NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[PurchasePrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ProductItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[EnglishName] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[SoldCount] [int] NOT NULL,
	[Rating] [float] NOT NULL,
	[StorageInstruction] [nvarchar](500) NULL,
	[UsageInstruction] [nvarchar](500) NULL,
	[DetailedIngredients] [nvarchar](1000) NULL,
	[MainFunction] [nvarchar](255) NULL,
	[Texture] [nvarchar](255) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[MarketPrice] [decimal](18, 2) NOT NULL,
	[KeyActiveIngredients] [nvarchar](500) NULL,
	[ExpiryDate] [nvarchar](50) NULL,
	[SkinIssues] [nvarchar](255) NULL,
	[ProductStatusId] [uniqueidentifier] NULL,
	[BrandId] [uniqueidentifier] NULL,
	[ProductCategoryId] [uniqueidentifier] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductStatuses]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStatuses](
	[Id] [uniqueidentifier] NOT NULL,
	[StatusName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_ProductStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizOptions]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizOptions](
	[Id] [uniqueidentifier] NOT NULL,
	[QuestionId] [uniqueidentifier] NOT NULL,
	[Value] [nvarchar](255) NOT NULL,
	[Score] [int] NOT NULL,
	[QuizQuestionId] [uniqueidentifier] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_QuizOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizQuestions]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizQuestions](
	[Id] [uniqueidentifier] NOT NULL,
	[SetId] [uniqueidentifier] NOT NULL,
	[Value] [nvarchar](500) NOT NULL,
	[QuizSetId] [uniqueidentifier] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_QuizQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizResults]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizResults](
	[Id] [uniqueidentifier] NOT NULL,
	[Score] [nvarchar](100) NOT NULL,
	[SkinTypeId] [uniqueidentifier] NOT NULL,
	[QuizSetId] [uniqueidentifier] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_QuizResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizSets]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizSets](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_QuizSets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](max) NULL,
	[Created] [datetime2](7) NOT NULL,
	[Updated] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[ExpiryTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Replies]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Replies](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[ReviewId] [uniqueidentifier] NOT NULL,
	[ReplyContent] [nvarchar](1000) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NOT NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Replies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewImages]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewImages](
	[Id] [uniqueidentifier] NOT NULL,
	[ReviewId] [uniqueidentifier] NOT NULL,
	[ImageUrl] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_ReviewImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ProductItemId] [uniqueidentifier] NOT NULL,
	[RatingValue] [real] NOT NULL,
	[Comment] [nvarchar](2000) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkinAnalysisIssues]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkinAnalysisIssues](
	[Id] [uniqueidentifier] NOT NULL,
	[SkinAnalysisResultId] [uniqueidentifier] NOT NULL,
	[IssueName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Severity] [int] NOT NULL,
 CONSTRAINT [PK_SkinAnalysisIssues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkinAnalysisRecommendations]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkinAnalysisRecommendations](
	[Id] [uniqueidentifier] NOT NULL,
	[SkinAnalysisResultId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[RecommendationReason] [nvarchar](1000) NULL,
	[PriorityScore] [int] NOT NULL,
 CONSTRAINT [PK_SkinAnalysisRecommendations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkinAnalysisResults]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkinAnalysisResults](
	[Id] [uniqueidentifier] NOT NULL,
	[ImageUrl] [nvarchar](1000) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[SkinTypeId] [uniqueidentifier] NOT NULL,
	[AcneScore] [int] NOT NULL,
	[WrinkleScore] [int] NOT NULL,
	[DarkCircleScore] [int] NOT NULL,
	[DarkSpotScore] [int] NOT NULL,
	[HealthScore] [int] NOT NULL,
	[OilinessLevel] [int] NOT NULL,
	[DrynessLevel] [int] NOT NULL,
	[SensitivityLevel] [int] NOT NULL,
	[FullAnalysisJson] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NOT NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_SkinAnalysisResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkinTypeRoutineSteps]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkinTypeRoutineSteps](
	[Id] [uniqueidentifier] NOT NULL,
	[SkinTypeId] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[StepName] [nvarchar](255) NOT NULL,
	[Instruction] [nvarchar](max) NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_SkinTypeRoutineSteps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkinTypes]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkinTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_SkinTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusChanges]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusChanges](
	[Id] [uniqueidentifier] NOT NULL,
	[Date] [datetimeoffset](7) NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_StatusChanges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[TransactionType] [nvarchar](max) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[QrImageUrl] [nvarchar](max) NOT NULL,
	[BankInformation] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[LastUpdatedBy] [nvarchar](max) NOT NULL,
	[ApprovedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NOT NULL,
	[LastUpdatedTime] [datetimeoffset](7) NOT NULL,
	[ApprovedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[SkinTypeId] [uniqueidentifier] NULL,
	[RoleId] [uniqueidentifier] NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[SurName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[EmailAddress] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[LastUpdatedBy] [nvarchar](100) NOT NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[CreatedTime] [datetimeoffset](7) NOT NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariationOptions]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariationOptions](
	[Id] [uniqueidentifier] NOT NULL,
	[Value] [nvarchar](255) NOT NULL,
	[VariationId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_VariationOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Variations]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variations](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ProductCategoryId] [uniqueidentifier] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Variations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 1/4/2026 11:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[DiscountRate] [float] NOT NULL,
	[MinimumOrderValue] [float] NOT NULL,
	[StartDate] [datetimeoffset](7) NOT NULL,
	[EndDate] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[UsageLimit] [int] NOT NULL,
 CONSTRAINT [PK_Vouchers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250316040407_Initial', N'9.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250610013533_AddTransactionTable', N'9.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250624025828_AddPurchasePriceToProduct', N'9.0.2')
GO
INSERT [dbo].[BlogSections] ([Id], [BlogId], [ContentType], [Subtitle], [Content], [Order]) VALUES (N'255ee45a-2f30-43ba-a3eb-10adda3a3598', N'0d887f87-fab9-43fd-8e1b-0b51f341df25', N'image', N'Visual Impact', N'https://www.medigoapp.com/uploads/aha_bha_retinol4_c822fb8c42.jpg', 2)
INSERT [dbo].[BlogSections] ([Id], [BlogId], [ContentType], [Subtitle], [Content], [Order]) VALUES (N'65854d01-3261-4b39-955f-369722470718', N'c697dbfa-4bf9-4018-aaf5-75210cc3133b', N'text', N'2. Làm sạch râu của bạn', N'Đừng quên nếu bạn là một người có râu – làn da đó cũng cần được yêu thương! Bạn có thể làm sạch râu bằng cùng một sản phẩm mà bạn sử dụng để rửa mặt.

Sau khi rửa, điều quan trọng là phải lau khô râu thật kỹ để da bên dưới không còn quá ẩm, vì điều này cũng có thể dẫn đến kích ứng và bong tróc. Vì vậy, hãy với lấy chiếc khăn, những người có râu.', 3)
INSERT [dbo].[BlogSections] ([Id], [BlogId], [ContentType], [Subtitle], [Content], [Order]) VALUES (N'41730ed9-9f12-43ea-895d-4b4ec0249374', N'0d887f87-fab9-43fd-8e1b-0b51f341df25', N'quote', N'Inspiration', N'"Stop googling your symptoms, all you need is a skincare." - Mari Smith', 3)
GO
INSERT [dbo].[CancelReasons] ([Id], [Description], [RefundRate]) VALUES (N'7462def2-e257-4110-a6b9-0adc31af9e51', N'Lý do khác', CAST(100.00 AS Decimal(5, 2)))
INSERT [dbo].[CancelReasons] ([Id], [Description], [RefundRate]) VALUES (N'6b7b3e4f-946b-4e9e-ab8a-0d7bbe533313', N'Ðịa chỉ giao hàng không chính xác', CAST(100.00 AS Decimal(5, 2)))
INSERT [dbo].[CancelReasons] ([Id], [Description], [RefundRate]) VALUES (N'8f1f6496-4f75-48b9-ab9d-22066c681ebb', N'Đơn hàng bị trùng lặp', CAST(100.00 AS Decimal(5, 2)))
GO
INSERT [dbo].[CartItems] ([Id], [UserId], [ProductItemId], [Quantity]) VALUES (N'0fd33762-264a-4275-8f11-3bbf8c57aa25', N'75786e5c-c310-4f8e-8c69-cd61c55d2d7b', N'2013d1cd-5934-41d5-b3ee-ec24a9142eee', 1)
INSERT [dbo].[CartItems] ([Id], [UserId], [ProductItemId], [Quantity]) VALUES (N'e8c2efb9-12d1-47e7-9110-af7b311d9f90', N'bd5a9163-e385-48f9-bd5c-0f47d38764a1', N'3e68dce5-6c43-413d-a606-2e235c3a0b3e', 1)
INSERT [dbo].[CartItems] ([Id], [UserId], [ProductItemId], [Quantity]) VALUES (N'f23d0123-d6d9-4222-8349-c0ce27966069', N'3fd75e48-1b25-48c7-82cd-9f916ad9fe0b', N'2be8828a-687c-4c74-b982-76cbf7693952', 1)
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [CountryCode], [CountryName]) VALUES (1, N'VN', N'Việt Nam')
INSERT [dbo].[Countries] ([Id], [CountryCode], [CountryName]) VALUES (2, N'US', N'Hoa Kỳ')
INSERT [dbo].[Countries] ([Id], [CountryCode], [CountryName]) VALUES (3, N'FR', N'Pháp')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
INSERT [dbo].[OrderDetails] ([Id], [Quantity], [Price], [ProductItemId], [OrderId]) VALUES (N'3f186edb-2e13-4e19-9acf-028889d080fe', 1, CAST(165000.00 AS Decimal(18, 2)), N'2be8828a-687c-4c74-b982-76cbf7693952', N'7a861f16-bc5a-4243-992b-bd510ff408ee')
INSERT [dbo].[OrderDetails] ([Id], [Quantity], [Price], [ProductItemId], [OrderId]) VALUES (N'd2ac6aca-0ba4-4ded-9173-0f450b54df83', 1, CAST(179000.00 AS Decimal(18, 2)), N'e14509ce-fbd0-4f3c-b636-132b8cc60dad', N'230befea-92fc-4c45-9855-b96ce025e707')
INSERT [dbo].[OrderDetails] ([Id], [Quantity], [Price], [ProductItemId], [OrderId]) VALUES (N'e637fc4d-d8c8-4e04-83a7-102620f421fa', 1, CAST(179000.00 AS Decimal(18, 2)), N'e14509ce-fbd0-4f3c-b636-132b8cc60dad', N'8977bc5a-a1b0-416e-bbe9-4e0cf43e8705')
GO
INSERT [dbo].[PaymentMethods] ([Id], [PaymentType], [ImageUrl]) VALUES (N'b0b58ce6-34d1-4500-bf1c-4bcc35a2efd8', N'BANK', N'https://cdn-icons-png.flaticon.com/512/8043/8043680.png')
INSERT [dbo].[PaymentMethods] ([Id], [PaymentType], [ImageUrl]) VALUES (N'abb33a09-6065-4dc2-a943-51a9dd9df27e', N'COD', N'https://cdn-icons-png.flaticon.com/512/5163/5163782.png')
INSERT [dbo].[PaymentMethods] ([Id], [PaymentType], [ImageUrl]) VALUES (N'354eda95-5be5-41be-acc3-cfd70188118a', N'VNPAY', N'https://vinadesign.vn/uploads/images/2023/05/vnpay-logo-vinadesign-25-12-57-55.jpg')
GO
INSERT [dbo].[ProductCategories] ([Id], [ParentCategoryId], [CategoryName]) VALUES (N'91ba665a-7e94-48d5-b856-020acbe5f932', N'a61c3dcb-0e6a-4da9-8198-edfd7ca7b540', N'Trị mụn')
INSERT [dbo].[ProductCategories] ([Id], [ParentCategoryId], [CategoryName]) VALUES (N'6c0d76c6-3697-4892-8295-0765a0d7b17e', N'552e9531-2f40-4051-aa3b-fde16b8fc9d4', N'Toner')
INSERT [dbo].[ProductCategories] ([Id], [ParentCategoryId], [CategoryName]) VALUES (N'a2faa564-34de-45c7-a7a6-1f10441f955a', N'a3cef322-d77d-4778-a48a-c5c4acee8ef8', N'Gel / Kem / Dầu Dưỡng')
GO
INSERT [dbo].[ProductConfigurations] ([Id], [ProductItemId], [VariationOptionId]) VALUES (N'5567b803-3764-42ed-8dea-1363f9229450', N'87c066cc-ce92-4dbb-b52b-53c83ed567b9', N'23d181a8-3aa6-4814-91b7-6908dda22772')
INSERT [dbo].[ProductConfigurations] ([Id], [ProductItemId], [VariationOptionId]) VALUES (N'eba73c28-d0bc-4a7b-b2e7-28b006168c9f', N'2d4a8bc9-5c57-4905-9b99-e682483ae511', N'e1da1853-5dc1-4f31-b47b-816c8dc60e1a')
INSERT [dbo].[ProductConfigurations] ([Id], [ProductItemId], [VariationOptionId]) VALUES (N'94b3b6d4-0e91-4c30-82aa-2a39b583380e', N'9bda7e9f-80db-4770-9397-1e71e872aba6', N'd6f296ce-93e6-4cfd-bcf4-7fe14b0516bf')
GO
INSERT [dbo].[ProductForSkinTypes] ([Id], [ProductId], [SkinTypeId]) VALUES (N'7318830e-5ece-46ba-ad91-009a8e5b0b19', N'868e1140-ab48-407e-8367-468590a8abb8', N'ea7cfb8f-c987-46e0-9bec-35f1a91b358b')
INSERT [dbo].[ProductForSkinTypes] ([Id], [ProductId], [SkinTypeId]) VALUES (N'228d9618-7e04-4f0f-9e44-01bda5e2803f', N'33287660-1368-4a5d-a1c3-ee11f3bb4dc7', N'c893ef51-a2d3-4cf0-8406-5a0a82c52da7')
INSERT [dbo].[ProductForSkinTypes] ([Id], [ProductId], [SkinTypeId]) VALUES (N'04a87fd8-d208-4549-a6ef-04016b3fa104', N'f9d46d83-97e8-4ba5-a533-96adb422f755', N'7bb5feac-9e62-4886-94d0-5e9efbefbef3')
GO
INSERT [dbo].[ProductImages] ([Id], [ImageUrl], [IsThumbnail], [ProductId]) VALUES (N'1218af18-75b6-4247-822f-03be251becb8', N'https://firebasestorage.googleapis.com/v0/b/handmade-product-bde7a.appspot.com/o/SPSS%2FProduct-Images%2F1753256909929_Cocoon-Winter-Melon-Micellar-Water-140ml-1.jpg?alt=media&token=9aed3ae9-1913-4779-b107-b3af227ea762', 0, N'4978d1a6-24c7-4306-b6f5-3468e388e149')
INSERT [dbo].[ProductImages] ([Id], [ImageUrl], [IsThumbnail], [ProductId]) VALUES (N'782c9d35-9ddf-4883-a62d-0f766b04db50', N'https://firebasestorage.googleapis.com/v0/b/handmade-product-bde7a.appspot.com/o/SPSS%2FProduct-Images%2F1752740185451_gz_Ge_T_Yg_A_3a56f5461a%20(1).jpeg?alt=media&token=6f41e46d-6d19-441d-9b2e-a92d2fb2bf2e', 1, N'b2f36cb9-3cce-4734-af4d-2619668eac23')
INSERT [dbo].[ProductImages] ([Id], [ImageUrl], [IsThumbnail], [ProductId]) VALUES (N'df82f410-135d-434c-aafb-12bf6de85e38', N'https://firebasestorage.googleapis.com/v0/b/handmade-product-bde7a.appspot.com/o/SPSS%2FProduct-Images%2F1752645612095_sua-rua-mat-the-lab-oligo-hyaluronic-acid-foam-cleanser-120ml.jpg?alt=media&token=e396e4af-9653-4c22-b1e9-046056d78a7d', 0, N'35a5318c-d120-462e-853a-b082e81a1ab0')
GO
INSERT [dbo].[ProductItems] ([Id], [QuantityInStock], [ImageUrl], [Price], [MarketPrice], [ProductId], [PurchasePrice]) VALUES (N'e14509ce-fbd0-4f3c-b636-132b8cc60dad', 0, N'https://firebasestorage.googleapis.com/v0/b/handmade-product-bde7a.appspot.com/o/SPSS%2FProduct-Item-Images%2F1752652251883_bt_ntt_2_lop_c928b36c7dd24a839d73257bbc61f9f5_1024x1024.jpg?alt=media&token=110af534-18fa-4a26-b4ab-8adda536375b', CAST(179000.00 AS Decimal(18, 2)), CAST(219000.00 AS Decimal(18, 2)), N'868e1140-ab48-407e-8367-468590a8abb8', CAST(129000.00 AS Decimal(18, 2)))
INSERT [dbo].[ProductItems] ([Id], [QuantityInStock], [ImageUrl], [Price], [MarketPrice], [ProductId], [PurchasePrice]) VALUES (N'9bda7e9f-80db-4770-9397-1e71e872aba6', 2, N'https://firebasestorage.googleapis.com/v0/b/handmade-product-bde7a.appspot.com/o/SPSS%2FProduct-Item-Images%2F1752646879025_duong-the-eucerin-spotless-brightening-body-lotion-spf-7-250ml-2.jpg?alt=media&token=0073fa96-f2db-4aef-8376-5fd5e5c6c2c2', CAST(329000.00 AS Decimal(18, 2)), CAST(399000.00 AS Decimal(18, 2)), N'9225c0c1-97bb-4d4b-9c4c-b4106fcebb91', CAST(309000.00 AS Decimal(18, 2)))
INSERT [dbo].[ProductItems] ([Id], [QuantityInStock], [ImageUrl], [Price], [MarketPrice], [ProductId], [PurchasePrice]) VALUES (N'3e68dce5-6c43-413d-a606-2e235c3a0b3e', 1, N'https://firebasestorage.googleapis.com/v0/b/handmade-product-bde7a.appspot.com/o/SPSS%2FProduct-Item-Images%2F1753256914291_z4394607766854_2aca12462b79836bb49c3bf9aeef6bd1_1_fe9bcfe8db.jpg?alt=media&token=d0a4c37e-bcf2-4964-ba86-a135ed2cbc81', CAST(187000.00 AS Decimal(18, 2)), CAST(295000.00 AS Decimal(18, 2)), N'4978d1a6-24c7-4306-b6f5-3468e388e149', CAST(167000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ProductStatuses] ([Id], [StatusName], [Description]) VALUES (N'f7afcba3-3c4a-4b8d-b909-1cbbe03361f1', N'Out of Stock', N'Sản phẩm đã hết hàng và đang chờ nhập thêm.')
INSERT [dbo].[ProductStatuses] ([Id], [StatusName], [Description]) VALUES (N'85b8b10e-b16d-406b-b7fb-2850110ba492', N'Unavailable', N'Sản phẩm tạm ngừng bán hoặc không còn sẵn trong kho.')
INSERT [dbo].[ProductStatuses] ([Id], [StatusName], [Description]) VALUES (N'2f2b699f-a843-43cf-b143-39cbf4d9cda0', N'Available', N'Sản phẩm đang được bán và có sẵn trong kho.')
GO
INSERT [dbo].[QuizOptions] ([Id], [QuestionId], [Value], [Score], [QuizQuestionId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'44f6ab9e-f08d-4882-af34-00fa36131235', N'c5a36a48-fbaa-4c2e-acce-5b8389741ad0', N'Thường hay bị.', 3, N'c5a36a48-fbaa-4c2e-acce-5b8389741ad0', N'Admin', NULL, NULL, CAST(N'2025-03-16T04:23:47.8233333+00:00' AS DateTimeOffset), NULL, NULL, 0)
INSERT [dbo].[QuizOptions] ([Id], [QuestionId], [Value], [Score], [QuizQuestionId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'4a37a2ff-189f-43ab-b01a-023556989d64', N'24494fc4-4587-4dac-a5fe-35e802418165', N'Hiếm khi.', 2, N'24494fc4-4587-4dac-a5fe-35e802418165', N'Admin', NULL, NULL, CAST(N'2025-03-16T04:23:47.8233333+00:00' AS DateTimeOffset), NULL, NULL, 0)
INSERT [dbo].[QuizOptions] ([Id], [QuestionId], [Value], [Score], [QuizQuestionId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'd8bacb7f-1813-4bda-b4b3-046bbf2352bf', N'24494fc4-4587-4dac-a5fe-35e802418165', N'Thường hay thế.', 3, N'24494fc4-4587-4dac-a5fe-35e802418165', N'Admin', NULL, NULL, CAST(N'2025-03-16T04:23:47.8233333+00:00' AS DateTimeOffset), NULL, NULL, 0)
GO
INSERT [dbo].[QuizQuestions] ([Id], [SetId], [Value], [QuizSetId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'01e1d50e-ae7d-4b09-ba8c-0563796ff8fa', N'00000000-0000-0000-0000-000000000000', N'Sau khi rửa mặt 30 phút mà không dùng bất kỳ sản phẩm nào, da bạn cảm thấy như thế nào?', N'0cbd2852-cc1f-4385-911e-2855ba21d835', N'System', NULL, NULL, CAST(N'2025-03-28T19:46:25.8519912+00:00' AS DateTimeOffset), NULL, NULL, 0)
INSERT [dbo].[QuizQuestions] ([Id], [SetId], [Value], [QuizSetId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'50f0c481-5395-46d5-a219-09ecc5079598', N'1bb54ecd-cd84-4272-ab48-1ee8d73a901f', N'Bạn tự đánh giá da bạn', N'1bb54ecd-cd84-4272-ab48-1ee8d73a901f', N'Admin', NULL, NULL, CAST(N'2025-03-16T04:23:32.8400000+00:00' AS DateTimeOffset), NULL, NULL, 0)
INSERT [dbo].[QuizQuestions] ([Id], [SetId], [Value], [QuizSetId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'c50912ab-7a6a-478a-adcc-0c35b2c6ebed', N'1bb54ecd-cd84-4272-ab48-1ee8d73a901f', N'Khi nhìn vào gương phóng đại, có bao nhiêu lỗ chân lông to kích thước bằng đầu cái ghim hoặc lớn hơn?', N'1bb54ecd-cd84-4272-ab48-1ee8d73a901f', N'Admin', NULL, NULL, CAST(N'2025-03-16T04:23:32.8400000+00:00' AS DateTimeOffset), NULL, NULL, 0)
GO
INSERT [dbo].[QuizResults] ([Id], [Score], [SkinTypeId], [QuizSetId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'01e3b79d-1a80-49a5-803a-07e175a40bab', N'55', N'c893ef51-a2d3-4cf0-8406-5a0a82c52da7', N'8fd017ce-5e2a-4c73-ade8-ab7268afeb26', N'Admin', NULL, NULL, CAST(N'2025-03-16T04:46:18.8633333+00:00' AS DateTimeOffset), NULL, NULL, 0)
INSERT [dbo].[QuizResults] ([Id], [Score], [SkinTypeId], [QuizSetId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'a56b3775-165c-4ca2-818f-09722f2ab797', N'40', N'c893ef51-a2d3-4cf0-8406-5a0a82c52da7', N'8fd017ce-5e2a-4c73-ade8-ab7268afeb26', N'Admin', NULL, NULL, CAST(N'2025-03-16T04:46:18.8600000+00:00' AS DateTimeOffset), NULL, NULL, 0)
INSERT [dbo].[QuizResults] ([Id], [Score], [SkinTypeId], [QuizSetId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'5124936a-3c32-4f53-aae3-0db959a1e8d0', N'42', N'c893ef51-a2d3-4cf0-8406-5a0a82c52da7', N'8fd017ce-5e2a-4c73-ade8-ab7268afeb26', N'Admin', NULL, NULL, CAST(N'2025-03-16T04:46:18.8600000+00:00' AS DateTimeOffset), NULL, NULL, 0)
GO
INSERT [dbo].[QuizSets] ([Id], [Name], [IsDefault], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'1bb54ecd-cd84-4272-ab48-1ee8d73a901f', N'Hệ thống phân loại da Baumann (Trắc nghiệm: Da dầu và da khô )', 0, N'Admin', N'System', NULL, CAST(N'2025-03-16T04:23:32.8333333+00:00' AS DateTimeOffset), CAST(N'2025-03-28T19:41:48.7394912+00:00' AS DateTimeOffset), NULL, 0)
INSERT [dbo].[QuizSets] ([Id], [Name], [IsDefault], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'0cbd2852-cc1f-4385-911e-2855ba21d835', N'Xác định loại da của bạn', 0, N'System', NULL, N'System', CAST(N'2025-03-28T19:46:18.6361828+00:00' AS DateTimeOffset), NULL, CAST(N'2025-03-29T00:27:29.1776566+00:00' AS DateTimeOffset), 1)
INSERT [dbo].[QuizSets] ([Id], [Name], [IsDefault], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'd37b79a5-ef31-447d-ad86-36df2e17a461', N'Bài kiểm tra loại da của bạn', 0, N'System', NULL, N'System', CAST(N'2025-03-25T15:57:23.3168847+00:00' AS DateTimeOffset), NULL, CAST(N'2025-03-28T09:37:05.6667132+00:00' AS DateTimeOffset), 1)
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [Created], [Updated], [IsRevoked], [IsUsed], [ExpiryTime]) VALUES (1, N'75786e5c-c310-4f8e-8c69-cd61c55d2d7b', N'WuxjrI0nwaR+m6ch/I6W3qaMKZTNUUihWZZFicKf+Hv2lOsz/Xjjsh03OLJEsAAAedzS8JfoXlSmFVTaW0zq2A==', CAST(N'2025-03-16T07:05:28.7196892' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, 0, CAST(N'2025-03-23T07:05:28.7196700' AS DateTime2))
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [Created], [Updated], [IsRevoked], [IsUsed], [ExpiryTime]) VALUES (2, N'59489ad9-c17e-44f2-a190-1a08d6a67ca4', N'OhJdUmRtmXwzh8e+wCDh1zdzn3ebkNkcu+CboEfAZWycYhfPm3jIWqka/rKiaduZJIIJgUOrCJl3jlZOXthqrQ==', CAST(N'2025-03-16T07:06:31.6460856' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, 0, CAST(N'2025-03-23T07:06:31.6460852' AS DateTime2))
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [Created], [Updated], [IsRevoked], [IsUsed], [ExpiryTime]) VALUES (3, N'59489ad9-c17e-44f2-a190-1a08d6a67ca4', N'EH/u9JJFyZEKlFO1CZbuW8ohV7QKkxcgIW/vS8d3POa+6eXjN7w/RoLTXRfmI3mF8Y504pW1BnksMhcxFaFVXA==', CAST(N'2025-03-16T07:06:34.2851692' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, 0, CAST(N'2025-03-23T07:06:34.2851689' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
INSERT [dbo].[ReviewImages] ([Id], [ReviewId], [ImageUrl]) VALUES (N'32bdcad8-d85e-4fe7-9d5e-3a16d3ca40fb', N'90c56cde-f481-497b-a610-ed0b4b844623', N'https://firebasestorage.googleapis.com/v0/b/handmade-product-bde7a.appspot.com/o/SPSS%2FProduct-Image%2Fc3c7507f-7046-47d3-925d-a51cee5d0e8f.jpg?alt=media&token=0611e6ec-c5b8-4b37-89a2-25e0bdb69d92')
INSERT [dbo].[ReviewImages] ([Id], [ReviewId], [ImageUrl]) VALUES (N'12e5ef29-6986-4d78-9f30-489c34db9387', N'42929bdd-a54e-48c7-a72b-54ab33fcf338', N'https://firebasestorage.googleapis.com/v0/b/handmade-product-bde7a.appspot.com/o/SPSS%2FProduct-Image%2Febf5770f-959e-485c-8c44-05cb1d113f61.jpg?alt=media&token=52aa9c42-6cb2-4b2f-8b67-933dc3e87302')
INSERT [dbo].[ReviewImages] ([Id], [ReviewId], [ImageUrl]) VALUES (N'c5333645-eb4c-45ce-9096-880b556adf0c', N'39dd8aeb-d267-42cb-81fb-654af0048b39', N'https://firebasestorage.googleapis.com/v0/b/handmade-product-bde7a.appspot.com/o/SPSS%2FProduct-Image%2F3dd82864-2a60-4f0c-a687-ab3b7f8a73a5.jpg?alt=media&token=4d23c741-e43c-43ef-9205-36972b623c9a')
GO
INSERT [dbo].[Reviews] ([Id], [UserId], [ProductItemId], [RatingValue], [Comment], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'42929bdd-a54e-48c7-a72b-54ab33fcf338', N'f7fb4adc-d957-41f8-8cac-d7cc49aa9fd4', N'11689362-2818-4513-9eee-c6988426f506', 5, N'giao hàng nhanh, chất lượng ok', N'f7fb4adc-d957-41f8-8cac-d7cc49aa9fd4', N'f7fb4adc-d957-41f8-8cac-d7cc49aa9fd4', NULL, CAST(N'2025-07-22T08:56:16.2637401+00:00' AS DateTimeOffset), CAST(N'2025-07-22T08:56:16.2637402+00:00' AS DateTimeOffset), NULL, 0)
INSERT [dbo].[Reviews] ([Id], [UserId], [ProductItemId], [RatingValue], [Comment], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'39dd8aeb-d267-42cb-81fb-654af0048b39', N'3fd75e48-1b25-48c7-82cd-9f916ad9fe0b', N'032dd07e-dda9-4c01-922f-f4f941046b85', 5, N'Sản phẩm đúng như hình', N'3fd75e48-1b25-48c7-82cd-9f916ad9fe0b', N'3fd75e48-1b25-48c7-82cd-9f916ad9fe0b', NULL, CAST(N'2025-07-19T07:49:04.7825006+00:00' AS DateTimeOffset), CAST(N'2025-07-19T07:49:04.7825007+00:00' AS DateTimeOffset), NULL, 0)
INSERT [dbo].[Reviews] ([Id], [UserId], [ProductItemId], [RatingValue], [Comment], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'78934a1e-91a7-47b9-9086-8650d3ff9506', N'3fd75e48-1b25-48c7-82cd-9f916ad9fe0b', N'1733b740-313e-4d5f-8418-3f7e4a36f0e0', 5, N'Sản phẩm chất lượng, giao nhanh', N'3fd75e48-1b25-48c7-82cd-9f916ad9fe0b', N'3fd75e48-1b25-48c7-82cd-9f916ad9fe0b', NULL, CAST(N'2025-07-19T07:46:26.5811938+00:00' AS DateTimeOffset), CAST(N'2025-07-19T07:46:26.5811939+00:00' AS DateTimeOffset), NULL, 0)
GO
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (N'b31f7ae1-87d1-4ba8-91f4-6d48e65e6349', N'Manager', N'string')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (N'11aaf348-8842-47b2-96a3-8e810988931e', N'Customer', N'string')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (N'cac962e8-dc57-4a1d-8500-9482f06f52d7', N'Staff', N'string')
GO
INSERT [dbo].[SkinAnalysisRecommendations] ([Id], [SkinAnalysisResultId], [ProductId], [RecommendationReason], [PriorityScore]) VALUES (N'd73e3f40-9a21-4a4a-b143-04499588e6a8', N'fb2b1f7b-9959-4d2c-bb8d-4987a74bed57', N'b2f36cb9-3cce-4734-af4d-2619668eac23', N'Sản phẩm phù hợp với loại da Da khô của bạn', 0)
INSERT [dbo].[SkinAnalysisRecommendations] ([Id], [SkinAnalysisResultId], [ProductId], [RecommendationReason], [PriorityScore]) VALUES (N'df551566-2760-4e6e-985b-04e890aa6fff', N'accd20e0-eb31-46dc-b73f-33b9d31a73bc', N'868e1140-ab48-407e-8367-468590a8abb8', N'Sản phẩm phù hợp với loại da Da khô của bạn', 0)
INSERT [dbo].[SkinAnalysisRecommendations] ([Id], [SkinAnalysisResultId], [ProductId], [RecommendationReason], [PriorityScore]) VALUES (N'95633a54-635e-4329-a40e-076450ed75db', N'94a1a11e-e11f-40b4-9a9f-3ac1fc366ae5', N'33287660-1368-4a5d-a1c3-ee11f3bb4dc7', N'Sản phẩm phù hợp với loại da Da khô của bạn', 0)
GO
INSERT [dbo].[SkinTypes] ([Id], [Name], [Description]) VALUES (N'e9c52100-d58f-4bf3-85ef-2a329906fcf8', N'Da mụn', N'Loại da dễ bị nổi mụn, có xu hướng tiết nhiều dầu và dễ bị kích ứng bởi môi trường và sản phẩm chăm sóc da không phù hợp.')
INSERT [dbo].[SkinTypes] ([Id], [Name], [Description]) VALUES (N'ea7cfb8f-c987-46e0-9bec-35f1a91b358b', N'Da Khô', N'Da khô là loại da thiếu độ ẩm, thường có cảm giác căng rát, bong tróc và dễ xuất hiện nếp nhăn, đặc biệt ở vùng mắt và khóe miệng. Sau khi rửa mặt, da có thể bị khô căng và khó chịu. Loại da này cần được cấp ẩm đầy đủ bằng các sản phẩm chứa Hyaluronic Acid, Glycerin hoặc Ceramides để duy trì độ mềm mại và đàn hồi.')
INSERT [dbo].[SkinTypes] ([Id], [Name], [Description]) VALUES (N'c893ef51-a2d3-4cf0-8406-5a0a82c52da7', N'Da Nhạy Cảm', N'Da nhạy cảm dễ bị kích ứng, ửng đỏ khi tiếp xúc với mỹ phẩm hoặc tác nhân bên ngoài như thời tiết và ô nhiễm. Loại da này thường có cảm giác châm chích, nóng rát khi dùng sản phẩm mới và có thể mỏng, dễ bị vỡ mao mạch. Chăm sóc da nhạy cảm cần ưu tiên các sản phẩm dịu nhẹ, không chứa hương liệu, cồn khô hay các thành phần dễ gây kích ứng để bảo vệ hàng rào tự nhiên của da.')
GO
INSERT [dbo].[StatusChanges] ([Id], [Date], [Status], [OrderId]) VALUES (N'c7903bd2-ae36-48c2-8648-049022de52b7', CAST(N'2025-07-21T14:29:17.0318722+00:00' AS DateTimeOffset), N'Processing', N'91fe4c19-abc1-4331-ae81-79ebb763c0f0')
INSERT [dbo].[StatusChanges] ([Id], [Date], [Status], [OrderId]) VALUES (N'b14f0343-e0a0-4b84-b0ea-0fb687c3c9e3', CAST(N'2025-07-22T03:00:10.0324433+00:00' AS DateTimeOffset), N'Processing', N'27741f9d-7599-4657-9604-354bee51369a')
INSERT [dbo].[StatusChanges] ([Id], [Date], [Status], [OrderId]) VALUES (N'dcc11268-fc69-4040-86ff-12e7b207fec3', CAST(N'2025-07-22T05:41:17.2224183+00:00' AS DateTimeOffset), N'Shipping', N'7a861f16-bc5a-4243-992b-bd510ff408ee')
GO
INSERT [dbo].[VariationOptions] ([Id], [Value], [VariationId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'6d9dc59c-de80-46ed-aeae-03b5efddb168', N'15ml', N'0ee6dcc3-75d7-4f2c-80ae-e798ea0b64b9', N'Admin', NULL, NULL, CAST(N'2025-03-16T04:24:55.7033333+00:00' AS DateTimeOffset), NULL, NULL, 0)
INSERT [dbo].[VariationOptions] ([Id], [Value], [VariationId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'2da94960-3333-4488-a1cf-0926aa3c59dd', N'454g', N'0ee6dcc3-75d7-4f2c-80ae-e798ea0b64b9', N'Admin', NULL, NULL, CAST(N'2025-03-16T04:24:55.7033333+00:00' AS DateTimeOffset), NULL, NULL, 0)
INSERT [dbo].[VariationOptions] ([Id], [Value], [VariationId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'baeeb671-9543-4290-bfbf-0f5d8470b94d', N'22ml', N'0ee6dcc3-75d7-4f2c-80ae-e798ea0b64b9', NULL, NULL, NULL, CAST(N'2025-03-20T09:06:29.3819101+00:00' AS DateTimeOffset), NULL, NULL, 0)
GO
INSERT [dbo].[Variations] ([Id], [Name], [ProductCategoryId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'b1367228-42f5-40fc-aaf7-5f8d61fb0e06', N'asdas', N'a536963a-792f-4599-9e28-b94e1df3d514', N'3e2fb0b2-cc34-4b86-a808-dfc4be56b563', N'3e2fb0b2-cc34-4b86-a808-dfc4be56b563', NULL, CAST(N'2025-03-20T13:51:09.7882810+00:00' AS DateTimeOffset), CAST(N'2025-03-20T15:30:07.3807936+00:00' AS DateTimeOffset), NULL, 1)
INSERT [dbo].[Variations] ([Id], [Name], [ProductCategoryId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'a0841e01-5bd0-4264-932a-e49abfba72f8', N'Capacity', N'a536963a-792f-4599-9e28-b94e1df3d514', N'3e2fb0b2-cc34-4b86-a808-dfc4be56b563', N'3e2fb0b2-cc34-4b86-a808-dfc4be56b563', NULL, CAST(N'2025-03-25T15:46:58.7175850+00:00' AS DateTimeOffset), CAST(N'2025-03-25T15:47:37.3396228+00:00' AS DateTimeOffset), NULL, 1)
INSERT [dbo].[Variations] ([Id], [Name], [ProductCategoryId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [IsDeleted]) VALUES (N'0ee6dcc3-75d7-4f2c-80ae-e798ea0b64b9', N'Capacity', N'508edce0-22c4-4ed4-adb7-7dee0aa38333', N'Admin', NULL, NULL, CAST(N'2025-03-16T04:24:55.7033333+00:00' AS DateTimeOffset), NULL, NULL, 0)
GO
/****** Object:  Index [IX_Addresses_CountryId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Addresses_CountryId] ON [dbo].[Addresses]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Addresses_UserId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Addresses_UserId] ON [dbo].[Addresses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Blogs_UserId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Blogs_UserId] ON [dbo].[Blogs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlogSections_BlogId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_BlogSections_BlogId] ON [dbo].[BlogSections]
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Brands_CountryId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Brands_CountryId] ON [dbo].[Brands]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_ProductItemId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_ProductItemId] ON [dbo].[CartItems]
(
	[ProductItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_UserId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_UserId] ON [dbo].[CartItems]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChatHistories_SessionId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChatHistories_SessionId] ON [dbo].[ChatHistories]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatHistories_UserId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChatHistories_UserId] ON [dbo].[ChatHistories]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_ProductItemId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ProductItemId] ON [dbo].[OrderDetails]
(
	[ProductItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_AddressId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_AddressId] ON [dbo].[Orders]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CancelReasonId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CancelReasonId] ON [dbo].[Orders]
(
	[CancelReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_PaymentMethodId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_PaymentMethodId] ON [dbo].[Orders]
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_VoucherId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_VoucherId] ON [dbo].[Orders]
(
	[VoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductCategories_ParentCategoryId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductCategories_ParentCategoryId] ON [dbo].[ProductCategories]
(
	[ParentCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductConfigurations_ProductItemId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductConfigurations_ProductItemId] ON [dbo].[ProductConfigurations]
(
	[ProductItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductConfigurations_VariationOptionId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductConfigurations_VariationOptionId] ON [dbo].[ProductConfigurations]
(
	[VariationOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductForSkinTypes_ProductId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductForSkinTypes_ProductId] ON [dbo].[ProductForSkinTypes]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductForSkinTypes_SkinTypeId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductForSkinTypes_SkinTypeId] ON [dbo].[ProductForSkinTypes]
(
	[SkinTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductImages_ProductId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductImages_ProductId] ON [dbo].[ProductImages]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductItems_ProductId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductItems_ProductId] ON [dbo].[ProductItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_BrandId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_BrandId] ON [dbo].[Products]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_ProductCategoryId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_ProductCategoryId] ON [dbo].[Products]
(
	[ProductCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_ProductStatusId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_ProductStatusId] ON [dbo].[Products]
(
	[ProductStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuizOptions_QuizQuestionId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_QuizOptions_QuizQuestionId] ON [dbo].[QuizOptions]
(
	[QuizQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuizQuestions_QuizSetId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_QuizQuestions_QuizSetId] ON [dbo].[QuizQuestions]
(
	[QuizSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuizResults_QuizSetId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_QuizResults_QuizSetId] ON [dbo].[QuizResults]
(
	[QuizSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuizResults_SkinTypeId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_QuizResults_SkinTypeId] ON [dbo].[QuizResults]
(
	[SkinTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefreshTokens_UserId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserId] ON [dbo].[RefreshTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Replies_ReviewId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Replies_ReviewId] ON [dbo].[Replies]
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Replies_UserId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Replies_UserId] ON [dbo].[Replies]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReviewImages_ReviewId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReviewImages_ReviewId] ON [dbo].[ReviewImages]
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_ProductItemId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_ProductItemId] ON [dbo].[Reviews]
(
	[ProductItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_UserId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_UserId] ON [dbo].[Reviews]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SkinAnalysisIssues_SkinAnalysisResultId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_SkinAnalysisIssues_SkinAnalysisResultId] ON [dbo].[SkinAnalysisIssues]
(
	[SkinAnalysisResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SkinAnalysisRecommendations_ProductId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_SkinAnalysisRecommendations_ProductId] ON [dbo].[SkinAnalysisRecommendations]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SkinAnalysisRecommendations_SkinAnalysisResultId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_SkinAnalysisRecommendations_SkinAnalysisResultId] ON [dbo].[SkinAnalysisRecommendations]
(
	[SkinAnalysisResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SkinAnalysisResults_SkinTypeId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_SkinAnalysisResults_SkinTypeId] ON [dbo].[SkinAnalysisResults]
(
	[SkinTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SkinAnalysisResults_UserId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_SkinAnalysisResults_UserId] ON [dbo].[SkinAnalysisResults]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SkinTypeRoutineSteps_CategoryId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_SkinTypeRoutineSteps_CategoryId] ON [dbo].[SkinTypeRoutineSteps]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SkinTypeRoutineSteps_SkinTypeId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_SkinTypeRoutineSteps_SkinTypeId] ON [dbo].[SkinTypeRoutineSteps]
(
	[SkinTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusChanges_OrderId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_StatusChanges_OrderId] ON [dbo].[StatusChanges]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_UserId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_UserId] ON [dbo].[Transactions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_SkinTypeId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_SkinTypeId] ON [dbo].[Users]
(
	[SkinTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VariationOptions_VariationId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_VariationOptions_VariationId] ON [dbo].[VariationOptions]
(
	[VariationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Variations_ProductCategoryId]    Script Date: 1/4/2026 11:03:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_Variations_ProductCategoryId] ON [dbo].[Variations]
(
	[ProductCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ProductItems] ADD  DEFAULT ((0)) FOR [PurchasePrice]
GO
ALTER TABLE [dbo].[SkinAnalysisResults] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [UsageLimit]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Countries_CountryId]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Users_UserId]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_Blogs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_Blogs_Users_UserId]
GO
ALTER TABLE [dbo].[BlogSections]  WITH CHECK ADD  CONSTRAINT [FK_BlogSections_Blogs] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlogSections] CHECK CONSTRAINT [FK_BlogSections_Blogs]
GO
ALTER TABLE [dbo].[Brands]  WITH CHECK ADD  CONSTRAINT [FK_Brands_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Brands] CHECK CONSTRAINT [FK_Brands_Countries_CountryId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_ProductItems_ProductItemId] FOREIGN KEY([ProductItemId])
REFERENCES [dbo].[ProductItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_ProductItems_ProductItemId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Users_UserId]
GO
ALTER TABLE [dbo].[ChatHistories]  WITH CHECK ADD  CONSTRAINT [FK_ChatHistories_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ChatHistories] CHECK CONSTRAINT [FK_ChatHistories_Users_UserId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_ProductItems_ProductItemId] FOREIGN KEY([ProductItemId])
REFERENCES [dbo].[ProductItems] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_ProductItems_ProductItemId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Addresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Addresses_AddressId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_CancelReasons_CancelReasonId] FOREIGN KEY([CancelReasonId])
REFERENCES [dbo].[CancelReasons] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_CancelReasons_CancelReasonId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PaymentMethods_PaymentMethodId] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethods] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PaymentMethods_PaymentMethodId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Vouchers_VoucherId] FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Vouchers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Vouchers_VoucherId]
GO
ALTER TABLE [dbo].[ProductCategories]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategories_ProductCategories_ParentCategoryId] FOREIGN KEY([ParentCategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
GO
ALTER TABLE [dbo].[ProductCategories] CHECK CONSTRAINT [FK_ProductCategories_ProductCategories_ParentCategoryId]
GO
ALTER TABLE [dbo].[ProductConfigurations]  WITH CHECK ADD  CONSTRAINT [FK_ProductConfigurations_ProductItems_ProductItemId] FOREIGN KEY([ProductItemId])
REFERENCES [dbo].[ProductItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductConfigurations] CHECK CONSTRAINT [FK_ProductConfigurations_ProductItems_ProductItemId]
GO
ALTER TABLE [dbo].[ProductConfigurations]  WITH CHECK ADD  CONSTRAINT [FK_ProductConfigurations_VariationOptions_VariationOptionId] FOREIGN KEY([VariationOptionId])
REFERENCES [dbo].[VariationOptions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductConfigurations] CHECK CONSTRAINT [FK_ProductConfigurations_VariationOptions_VariationOptionId]
GO
ALTER TABLE [dbo].[ProductForSkinTypes]  WITH CHECK ADD  CONSTRAINT [FK_ProductForSkinTypes_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductForSkinTypes] CHECK CONSTRAINT [FK_ProductForSkinTypes_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductForSkinTypes]  WITH CHECK ADD  CONSTRAINT [FK_ProductForSkinTypes_SkinTypes_SkinTypeId] FOREIGN KEY([SkinTypeId])
REFERENCES [dbo].[SkinTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductForSkinTypes] CHECK CONSTRAINT [FK_ProductForSkinTypes_SkinTypes_SkinTypeId]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductItems]  WITH CHECK ADD  CONSTRAINT [FK_ProductItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductItems] CHECK CONSTRAINT [FK_ProductItems_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands_BrandId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategories_ProductCategoryId] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductCategories_ProductCategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductStatuses_ProductStatusId] FOREIGN KEY([ProductStatusId])
REFERENCES [dbo].[ProductStatuses] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductStatuses_ProductStatusId]
GO
ALTER TABLE [dbo].[QuizOptions]  WITH CHECK ADD  CONSTRAINT [FK_QuizOptions_QuizQuestions_QuizQuestionId] FOREIGN KEY([QuizQuestionId])
REFERENCES [dbo].[QuizQuestions] ([Id])
GO
ALTER TABLE [dbo].[QuizOptions] CHECK CONSTRAINT [FK_QuizOptions_QuizQuestions_QuizQuestionId]
GO
ALTER TABLE [dbo].[QuizQuestions]  WITH CHECK ADD  CONSTRAINT [FK_QuizQuestions_QuizSets_QuizSetId] FOREIGN KEY([QuizSetId])
REFERENCES [dbo].[QuizSets] ([Id])
GO
ALTER TABLE [dbo].[QuizQuestions] CHECK CONSTRAINT [FK_QuizQuestions_QuizSets_QuizSetId]
GO
ALTER TABLE [dbo].[QuizResults]  WITH CHECK ADD  CONSTRAINT [FK_QuizResults_QuizSets_QuizSetId] FOREIGN KEY([QuizSetId])
REFERENCES [dbo].[QuizSets] ([Id])
GO
ALTER TABLE [dbo].[QuizResults] CHECK CONSTRAINT [FK_QuizResults_QuizSets_QuizSetId]
GO
ALTER TABLE [dbo].[QuizResults]  WITH CHECK ADD  CONSTRAINT [FK_QuizResults_SkinTypes_SkinTypeId] FOREIGN KEY([SkinTypeId])
REFERENCES [dbo].[SkinTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizResults] CHECK CONSTRAINT [FK_QuizResults_SkinTypes_SkinTypeId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId]
GO
ALTER TABLE [dbo].[Replies]  WITH CHECK ADD  CONSTRAINT [FK_Replies_Reviews_ReviewId] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Reviews] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Replies] CHECK CONSTRAINT [FK_Replies_Reviews_ReviewId]
GO
ALTER TABLE [dbo].[Replies]  WITH CHECK ADD  CONSTRAINT [FK_Replies_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Replies] CHECK CONSTRAINT [FK_Replies_Users_UserId]
GO
ALTER TABLE [dbo].[ReviewImages]  WITH CHECK ADD  CONSTRAINT [FK_ReviewImages_Reviews_ReviewId] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Reviews] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewImages] CHECK CONSTRAINT [FK_ReviewImages_Reviews_ReviewId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_ProductItems_ProductItemId] FOREIGN KEY([ProductItemId])
REFERENCES [dbo].[ProductItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_ProductItems_ProductItemId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users_UserId]
GO
ALTER TABLE [dbo].[SkinAnalysisIssues]  WITH CHECK ADD  CONSTRAINT [FK_SkinAnalysisIssues_SkinAnalysisResults_SkinAnalysisResultId] FOREIGN KEY([SkinAnalysisResultId])
REFERENCES [dbo].[SkinAnalysisResults] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SkinAnalysisIssues] CHECK CONSTRAINT [FK_SkinAnalysisIssues_SkinAnalysisResults_SkinAnalysisResultId]
GO
ALTER TABLE [dbo].[SkinAnalysisRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_SkinAnalysisRecommendations_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[SkinAnalysisRecommendations] CHECK CONSTRAINT [FK_SkinAnalysisRecommendations_Products_ProductId]
GO
ALTER TABLE [dbo].[SkinAnalysisRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_SkinAnalysisRecommendations_SkinAnalysisResults_SkinAnalysisResultId] FOREIGN KEY([SkinAnalysisResultId])
REFERENCES [dbo].[SkinAnalysisResults] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SkinAnalysisRecommendations] CHECK CONSTRAINT [FK_SkinAnalysisRecommendations_SkinAnalysisResults_SkinAnalysisResultId]
GO
ALTER TABLE [dbo].[SkinAnalysisResults]  WITH CHECK ADD  CONSTRAINT [FK_SkinAnalysisResults_SkinTypes_SkinTypeId] FOREIGN KEY([SkinTypeId])
REFERENCES [dbo].[SkinTypes] ([Id])
GO
ALTER TABLE [dbo].[SkinAnalysisResults] CHECK CONSTRAINT [FK_SkinAnalysisResults_SkinTypes_SkinTypeId]
GO
ALTER TABLE [dbo].[SkinAnalysisResults]  WITH CHECK ADD  CONSTRAINT [FK_SkinAnalysisResults_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SkinAnalysisResults] CHECK CONSTRAINT [FK_SkinAnalysisResults_Users_UserId]
GO
ALTER TABLE [dbo].[SkinTypeRoutineSteps]  WITH CHECK ADD  CONSTRAINT [FK_SkinTypeRoutineSteps_ProductCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SkinTypeRoutineSteps] CHECK CONSTRAINT [FK_SkinTypeRoutineSteps_ProductCategories_CategoryId]
GO
ALTER TABLE [dbo].[SkinTypeRoutineSteps]  WITH CHECK ADD  CONSTRAINT [FK_SkinTypeRoutineSteps_SkinTypes_SkinTypeId] FOREIGN KEY([SkinTypeId])
REFERENCES [dbo].[SkinTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SkinTypeRoutineSteps] CHECK CONSTRAINT [FK_SkinTypeRoutineSteps_SkinTypes_SkinTypeId]
GO
ALTER TABLE [dbo].[StatusChanges]  WITH CHECK ADD  CONSTRAINT [FK_StatusChanges_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StatusChanges] CHECK CONSTRAINT [FK_StatusChanges_Orders_OrderId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_SkinTypes_SkinTypeId] FOREIGN KEY([SkinTypeId])
REFERENCES [dbo].[SkinTypes] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_SkinTypes_SkinTypeId]
GO
ALTER TABLE [dbo].[VariationOptions]  WITH CHECK ADD  CONSTRAINT [FK_VariationOptions_Variations_VariationId] FOREIGN KEY([VariationId])
REFERENCES [dbo].[Variations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VariationOptions] CHECK CONSTRAINT [FK_VariationOptions_Variations_VariationId]
GO
ALTER TABLE [dbo].[Variations]  WITH CHECK ADD  CONSTRAINT [FK_Variations_ProductCategories_ProductCategoryId] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
GO
ALTER TABLE [dbo].[Variations] CHECK CONSTRAINT [FK_Variations_ProductCategories_ProductCategoryId]
GO
USE [master]
GO
